* {
    box-sizing: border-box;
    margin: 0;

}

@font-face {
    font-family: 'shrikhand';
    src: url('C:\Users\ilies\Desktop\Ohmyfood\Shrikhand');
}

@font-face {
    font-family: 'roboto';
    src: url('RobotoCondensed-Light.ttf');
}



.demo {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: justify;
    font-family: 'Roboto', Arial, sans-serif;
}


.custom-loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


.custom-loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.6;
    display: none;

}

.custom-loading-spinner::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 5px solid #9356DC;
    border-top: 5px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 3s;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes custom-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-animation-timing-function: ease-out;
    }

}

@-webkit-keyframes custom-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-animation-timing-function: ease-out;
    }

}


ul {
    list-style: none;
    padding-left: 0;

}

.omf {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;

}

.logo {
    padding-top: 20px;
}

.noir {
    color: black;
}

.search {
    background-color: #d3d5d6;
    width: 100%;
    height: 80px;
    box-shadow: inset 0 8px 16px 0 rgba(189, 189, 189, 0.2);
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
}

.search i {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.searchzone {
    border: none;
    background-color: #d3d5d6;
    margin-top: 8px;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
}

.intro {
    width: 100%;
    height: 280px;
    background-color: rgb(241, 241, 241);
    margin-top: -29px;
    padding-bottom: 50px;
    font-family: 'Roboto', Arial, sans-serif;
}

.intro h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', Arial, sans-serif;
}

.intro p {
    font-size: 20px;
    text-align: center;
    color: rgb(53, 51, 51);
    font-family: 'Roboto', Arial, sans-serif;
}

.explore {
    border: none;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin-top: 10px;
    height: 40px;
    width: 50%;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    margin-left: 85px;
}

.explore:hover {
    background-image: linear-gradient(#f687d6, #9263cc);
    box-shadow: 0 10px 15px 0 grey;
}


.use {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;

}


.use h1 {
    margin-left: 30px;
}

.use li {

    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    top: 10px;
    bottom: 10px;

}

.use i {
    margin-left: 8px;
    margin-right: 8px;
}

.number {

    color: white;
    background-color: #9356DC;
    border: none;
    font-size: 10px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 3%;

}

.chose {

    border-radius: 30px;
    color: black;
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 23px;
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    height: 90px;
    width: 85%;
    margin-top: 20px;
    font-family: 'Roboto', Arial, sans-serif;
}

.chose:hover {
    background-color: rgb(247, 232, 253);
    box-shadow: 0 10px 15px 0 rgba(18, 18, 19, 0.2);
}

.fa-heart::before {
    content: "\f004";
    transition: color 1s ease-out;

    /*color: #FFFF;*/
}

.fa-heart:hover::before {
    content: "\f004";
    opacity: 1;
    color: #9356DC;
    cursor: pointer;
    font-weight: bold;
    background: -webkit-linear-gradient(70deg, #FF79DA 20%, #9356DC 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.a :hover {
    background-color: #8be4c2;
}

.resto {
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding-bottom: 70px;
    font-family: 'Roboto', Arial, sans-serif;
}

.resto h2 {
    margin-top: 20px;
    margin-left: 30px;

}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cards a {
    text-decoration: none;
}

.card {
    height: 280px;
    width: 90%;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    margin-top: 15px;
    position: relative;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.content {
    position: relative;
    justify-content: left;
    color: black;
    padding-top: 10px;

}

.content h1 {
    font-size: 20px;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
}


.content p {
    font-size: 15px;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
}

.place {
    position: absolute;
    right: 10px;
    font-size: 30px;
    top: 50%;

}

.new {
    border: none;
    border-radius: 3px;
    background-color: #99E2D0;
    color: #25705d;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto', Arial, sans-serif;
}

.foot {
    width: 100%;
    font-size: 20px;
    color: white;
    padding-right: -20px;
    font-family: 'Roboto', Arial, sans-serif;
}

.ficon {
    font-size: 18px;
}

.ficons {
    font-size: 15px;
}

.foot li {
    top: 10px;
    margin-top: 15px;
    padding-left: 35px;

}

li a {
    text-decoration: none;
    color: white;
}

.log {
    height: 20px;
    margin-left: 35px;
    margin-top: 20px;

}

.footer {
    width: 100%;
    height: 250px;
    background-color: rgb(95, 93, 93);
}

/*palette*/

.omf1 {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
    padding-top: 20px;

}

.arrow {
    position: absolute;
    padding-top: 20px;
    left: 10px;
    color: black;
}

.palimg {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.side {
    float: right;
    padding-right: 15px;
}

.palette {
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    margin-top: -20px;
}

.titre {
    position: absolute;
    margin-top: -100px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(241, 241, 241);
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}

.palette1 {
    width: 100%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    margin-top: -200px;

}

.palette1 a {
    text-decoration: none;
}

.titre1 {
    position: absolute;
    margin-top: -300px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(241, 241, 241);
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
}

.palimg1 {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.palette a {
    text-decoration: none;
}

label {
    transition: 0.2s;
    background: white;
    border-radius: 10px;
}


.row-plat h3 {
    font-size: 17px;
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
}

.row-plat p {
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    color: black;
}

/*etiquette blanche*/
.row-plat .barre-menu2 {
    display: flex;
    margin: 1em;
    height: 70px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.barre-menu2 .checkboxes {
    transition: all 2s;
    right: -70px;
}

.barre-menu2:hover .checkboxes {

    right: 0;

}



/*tarif à droite*/
.col-plat-2 {
    margin-left: 80PX;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
}

.barre-menu2:hover .col-plat-2 {
    padding-right: 75px;
}

.col-plat-1 h3,
.col-plat-1 p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.palette h1,
h2 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.col-plat-1 {
    width: calc(100% - 80px - 70px);
}

.palette h1,
h2 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.palette h1 {
    font-size: 30px;

}

.palette h2 {
    font-size: 25px;
    font-family: 'Roboto', Arial, sans-serif;

}

.ligne {
    border-bottom: solid 6px #99E2D0;
    width: 10%;
}

.apparait {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.apparait1 {
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.apparait2 {
    animation-duration: 6s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.commander {
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 50px;
    color: white;
    top: 20px;
    height: 40px;
    width: 50%;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    margin: auto;
    margin-bottom: 20px;

}

.commander h5 {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
}

.checkboxes {

    background: #99E2D0;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.circle {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
}

.valid {
    color: #99E2D0;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
}


@media and (max-width: 1200px){

     .palette .h3{
         font-size: 30px;
     }

     .col-plat-1 h3, .col-plat-1 p {
        width:100%;
        white-space: nowrap;
        overflow:visible;
        text-overflow:inherit;
    }
}
