* {
    box-sizing: border-box;
    margin: 0;

}

.demo {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: justify;
}
.custom-loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.6;
    transition-duration: 3s;
}
.custom-loading-spinner::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #9356DC;
    border-top: 3px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear infinite;
   
}
@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
}
   

ul {
    list-style: none;
    padding-left: 0;

}

.omf {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.noir {
    color: black;
}

.search {
    background-color: #d3d5d6;
    width: 100%;
    height: 80px;
    box-shadow: inset 0 8px 16px 0 rgba(189, 189, 189, 0.2);
    text-align: center;
}

.search i {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 5px;

}

.searchzone {
    border: none;
    background-color: #d3d5d6;
    margin-top: 8px;
    font-size: 15px;
}

.intro {
    width: 100%;
    height: 280px;
    background-color: rgb(241, 241, 241);
    margin-top: -29px;
    padding-bottom: 50px;
}

.intro h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;

}

.intro p {
    font-size: 20px;
    text-align: center;
    color: rgb(53, 51, 51);
}

.explore {
    border: none;
    border-radius: 50px;
    text-align: center;
    color: white;
    margin-top: 10px;
    height: 40px;
    width: 50%;
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    margin-left: 85px;

}

.use {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;

}


.use h1 {
    margin-left: 30px;
}

.use li {

    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    top: 10px;
    bottom: 10px;

}

.use i {
    margin-left: 8px;
    margin-right: 8px;
}

.number {

    color: white;
    background-color: #9356DC;
    border: none;
    font-size: 10px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 3%;

}

.chose {

    border-radius: 30px;
    color: black;
    background-color: rgb(241, 241, 241);
    border: none;
    font-size: 23px;
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    height: 90px;
    width: 85%;
    margin-top: 20px;

}

.heart :hover {
    background-color: #9356DC;
}

.li :hover {
    background-color: #DC3545;
}

.resto {
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding-bottom: 70px;
}

.resto h2 {
    margin-top: 20px;
    margin-left: 30px;
}

.cards {
    display: flexbox;
    flex-direction: column;
    justify-content: center;

}

.cards a {
    text-decoration: none;
}

.card {
    height: 280px;
    width: 90%;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    margin-top: 15px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.content {

    justify-content: left;
    color: black;
    padding-top: 10px;

}

.content h1 {
    font-size: 20px;
}

.content p {
    font-size: 15px;

}

.place {
    float: right;
    margin-right: 10px;
    font-size: 30px;

}

.new {
    float: right;
    border: none;
    border-radius: 3px;
    background-color: #99E2D0;
    color: #25705d;
    font-size: 15px;
}

.foot {
    width: 100%;
    font-size: 20px;
    color: white;
    padding-right: -20px;
}

.ficon {
    font-size: 18px;
}

.ficons{
    font-size: 15px;
}

.foot li {
    top: 10px;
    margin-top: 15px;
    padding-left: 35px;
}

.log {
    height: 20px;
    margin-left: 35px;
    margin-top: 20px;

}

.footer {
    width: 100%;
    height: 250px;
    background-color: rgb(95, 93, 93);
}

/*palette*/

.arrow{
    position: absolute;
    margin-top:13px;
    left:10px;
}

.palimg {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.side { 
  float:right;
  padding-right: 15px;
}

.palette {
    position: absolute;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(241, 241, 241);
    margin: auto;
    margin-top: -50px;
}

.palette h1,
h2 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top:20px;
}

.palette h1 {
    font-size: 30px;
}

.palette h2 {
    font-size: 25px;
}

.chosep {
    border-radius: 30px;
    color: black;
    background-color: white;
    border: none;
    font-size: 23px;
    box-shadow: 0 5px 10px 0 rgba(18, 18, 19, 0.2);
    height: 90px;
    width: 98%;
    text-align: left;
    margin-top: 10px;
    padding-top: -25px;
    margin-left: 3px;
}

.chosep h1 {
    font-size: 18px;
}

.chosep p {
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.price {
    text-align: right;
    font-size: 20px;
    margin-top: -40px;
    margin-right:10px;
}